# Primer Avance PIA

**Equipo:** 5

**Grupo:** 002 Miércoles (6:00 pm - 9:00 pm)

#### Integrantes:  

- 1688132 Martínez Loera Mario Vladimir 

- 1741667 Quiroz García Víctor Antonio 

- 1801994 Rodríguez Charles Karla Alejandra

## 1) Titulo de la base de datos
- a) Heart Disease UCI.
- b) [enlace de base de datos](https://www.kaggle.com/ronitf/heart-disease-uci)

## 2) Descripción de los datos.

La base de datos muestra los experimentos publicados que hacen referencia al uso de un subconjunto de 14 indicadores en esta misma de Cleveland. Para el campo "objetivo" se refiere a la presencia de enfermedades cardíacas en el paciente dando el enfoque de la importancia que tiene cada indicador para el pronóstico de su enfermedad. En donde se le denomina un numero entero valorado de 0 (sin presencia) a 4.

#### A) ¿Qué tipos de datos son? 

Es una tabla de datos donde se encuentran los resultados de varias pruebas o análisis clínicos de diferentes pacientes que mostraron una señal de enfermedades cardiacas o cuentan con alguna en los diferentes hospitales de Cleveland. 

#### B) Descripción de las columnas: 

La base de datos cuenta con 14 columnas las cuales  2 de las primeras columnas son datos propios del paciente: la edad (esta medida en años) y el sexo  (se categoriza en con 0 si el paciente es hembra y 1 si es macho), de las columnas 3 a la 9 son datos que fueron obtenidos por medio de diferentes pruebas relacionadas con síntomas o indicadores que pueden indicar que el paciente podría tener una enfermedad cardiaca, y el resto de estas columnas son enfocadas en análisis, los cuales sus datos se clasifican en categorías. Las columnas de la tabla son en específico:  

- 1.-Edad 
- 2.-Sexo 
- 3.-Tipo de dolor torácico (4 valores) 
- 4.-Presión arterial en reposo 
- 5.- Colesterol sérico en mg/dl 
- 6.-Azúcar en sangre en ayunas > 120 mg/dl 
- 7.-Resultados electrocardiográficos en reposo (valores 0,1,2) 
- 8.-Frecuencia cardíaca máxima alcanzada 
- 9.-Ejercicio inducido angina de pecho 
- 10.-Pico máximo = Depresión ST inducida por el ejercicio en relación con el descanso 
- 11.-La pendiente del segmento ST de ejercicio pico 
- 12.-Número de vasos principales (0-3) coloreados por flourosopy 
- 13.-Thal: 3 = normal; 6 = defecto fijo; 7 = defecto invertible

## 3) Justificación del uso de datos.

#### A) ¿Cuáles fueron las características que les llamó la atención de los datos? ¿Qué les hizo querer trabajar con ellos? 

Las principales características que nos llamaron la atención es que los datos sirven para saber cuáles son los indicadores en los que nos podemos enfocar para saber si un paciente tiene algún índice de enfermedad cardiaca o para poder predecir si el paciente tiene algún peligro respecto a este problema, ya que los datos estaban completos y no se perdía ningún dato de información y estos mismos estaban contemplados.  

#### B) ¿Qué beneficio encuentran con de trabajar con estos datos? 

Saber leer como los indicadores pueden definir si un paciente se encuentra con una enfermedad cardiaca o si tienen los indicios de empezar a presentar alguna.

## 4) Objetivo final.

El objetivo principal es saber por medio de un modelo cuáles son los factores claves y saber cuáles de ellos tienen mayor impacto en los pacientes con riesgo de tener este tipo de enfermedad.  

El objetivo secundario es ordenar los índices de las enfermedades en mayor orden de importancia e investigar cuales pueden ser reversible o controlables y cuales indican una preocupación.

## 5) Preguntas de interes.

+ Según los indicadores ¿Cuáles son los tienen mayor importancia para en el diagnóstico de enfermedades cardiacas?  

+ ¿Es cierto que la edad de las personas influye en este tipo de enfermedades? 

+ ¿Se puede tener solo un indicador y tener más posibilidad de diagnóstico de enfermedad cardiaca? 

+ ¿Cuál es el esperado de pacientes con diagnóstico de enfermedades cardiacas?

## 6) Parte de programación

In [2]:
import pandas as pd

import numpy as np

In [3]:
df = pd.read_csv("heart.csv") #llamar a la base de datos a usar

In [4]:
df.shape  #muestra el tamaño de la base de datos a usar

(303, 14)

In [5]:
df.head() #con head muestra los primeros 5 datos de heart.csv

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [6]:
df.tail() #muestra los ultimos 5 datos de heart.csv

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [7]:
df.columns #nombre de columnas

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [8]:
df.info() #informacion de columna, tipo de datos y si se tienen datos nulos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [9]:
df.describe() #muestra por columna los distintos valores que se tienen totales como la media, min y maximo

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [10]:
df.dtypes #Tipo de valores de por columna

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

In [11]:
df.cp.unique()  #en la columna cp se tienen unicamente los valores mostrados

array([3, 2, 1, 0], dtype=int64)

## Aporte extra acerca de manipulacion de datos 
Cambiando los valores unicos de las columnas

In [12]:
df['cp'][df['cp'] == 0] = 'typical angina'
df['cp'][df['cp'] == 1] = 'atypical angina'
df['cp'][df['cp'] == 2] = 'non-anginal pain'
df['cp'][df['cp'] == 3] = 'asymptomatic'     #Con este codigo se cambian los valores unicos por otros especificos

<ipython-input-12-e5e1dca8375c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cp'][df['cp'] == 0] = 'typical angina'

In [13]:
df['fbs'][df['fbs'] == 1] = 'higher than 120mg/ml'
df['fbs'][df['fbs'] == 0] = 'lower than 120mg/ml' #Se cambian los valores de fbs por otra informacion exacta

<ipython-input-13-c2dc9b6c7e4e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['fbs'][df['fbs'] == 1] = 'higher than 120mg/ml'

In [14]:
df['slope'][df['slope'] == 0] = 'upsloping'
df['slope'][df['slope'] == 1] = 'flat'
df['slope'][df['slope'] == 2] = 'downsloping' #se cambian los valores de la columna slope

<ipython-input-14-59152d70632c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['slope'][df['slope'] == 0] = 'upsloping'

el cambio de nombres se hizo debido a que se nos hizo mas practico y fácil de encontrar las variables y cambiar los datos 0 y 1 por escritura

In [15]:
df.head() #ahora se muestran los primeros 5 datos con las columnas ya cambiadas

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,asymptomatic,145,233,higher than 120mg/ml,0,150,0,2.3,upsloping,0,1,1
1,37,1,non-anginal pain,130,250,lower than 120mg/ml,1,187,0,3.5,upsloping,0,2,1
2,41,0,atypical angina,130,204,lower than 120mg/ml,0,172,0,1.4,downsloping,0,2,1
3,56,1,atypical angina,120,236,lower than 120mg/ml,1,178,0,0.8,downsloping,0,2,1
4,57,0,typical angina,120,354,lower than 120mg/ml,1,163,1,0.6,downsloping,0,2,1

In [16]:
df['restecg'][df['restecg'] == 0] = 'normal'
df['restecg'][df['restecg'] == 1] = 'ST-T wave abnormality'
df['restecg'][df['restecg'] == 2] = 'left ventricular hypertrophy' #se cambian los valores de la columna restecg

<ipython-input-16-3d4993a3de6e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['restecg'][df['restecg'] == 0] = 'normal'

In [17]:
df['thal'][df['thal'] == 0] = 'normal'
df['thal'][df['thal'] == 1] = 'normal'
df['thal'][df['thal'] == 2] = 'fixed defect'
df['thal'][df['thal'] == 3] = 'reversable defect' #se cambian los valores de la columna thal

<ipython-input-17-9eb878620ec9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['thal'][df['thal'] == 0] = 'normal'

In [18]:
df.head() # para mostrar los datos cambiados

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,asymptomatic,145,233,higher than 120mg/ml,normal,150,0,2.3,upsloping,0,normal,1
1,37,1,non-anginal pain,130,250,lower than 120mg/ml,ST-T wave abnormality,187,0,3.5,upsloping,0,fixed defect,1
2,41,0,atypical angina,130,204,lower than 120mg/ml,normal,172,0,1.4,downsloping,0,fixed defect,1
3,56,1,atypical angina,120,236,lower than 120mg/ml,ST-T wave abnormality,178,0,0.8,downsloping,0,fixed defect,1
4,57,0,typical angina,120,354,lower than 120mg/ml,ST-T wave abnormality,163,1,0.6,downsloping,0,fixed defect,1

In [19]:
df.cp.unique() #verificar cambio en los valores unicos para comenzar a hacer clases

array(['asymptomatic', 'non-anginal pain', 'atypical angina',
       'typical angina'], dtype=object)

In [20]:
df.restecg.unique() #verifica el valor unico en la columna restecg

array(['normal', 'ST-T wave abnormality', 'left ventricular hypertrophy'],
      dtype=object)

In [21]:
clase_left  = df[df['restecg']=='left ventricular hypertrophy'] #se hace una clase de la columna restecg por ser valor importante
clase_left.to_csv('left_heart.csv', index=False)   #crea una base de datos externa para mostrar la clase creada

In [22]:
clase_atypical = df[df['cp']=='atypical angina'] #creacion de una clase de la columna cp
clase_atypical.to_csv('atypical_heart.csv', index=False) #base de datos a partir de la clase

In [23]:
df.sex.unique() #toma los valores unicos de la columna sex

array([1, 0], dtype=int64)

In [24]:
clase_1 = df[df['sex']=='1'] #clase de la columna sex usando el valor 1 para crear clases
clase_1.to_csv('1_heart.csv', index=False) #creacion de una base de datos con la clase anterior

### Eliminar columnas

In [25]:
n_df= df.drop(columns=['target', 'slope', 'ca', 'oldpeak', 'exang']) #Remover columnas
n_df.head() #muestra los primeros 5 datos de la nueva df creada a partir de las columnas eliminadas

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,thal
0,63,1,asymptomatic,145,233,higher than 120mg/ml,normal,150,normal
1,37,1,non-anginal pain,130,250,lower than 120mg/ml,ST-T wave abnormality,187,fixed defect
2,41,0,atypical angina,130,204,lower than 120mg/ml,normal,172,fixed defect
3,56,1,atypical angina,120,236,lower than 120mg/ml,ST-T wave abnormality,178,fixed defect
4,57,0,typical angina,120,354,lower than 120mg/ml,ST-T wave abnormality,163,fixed defect

eliminamos las ultimas columnas debido a que no las encontramos relevantes para el análisis que nosotros buscamos

In [26]:
n_df.isnull() #verificar si existen los datos nulos

       age    sex     cp  trestbps   chol    fbs  restecg  thalach   thal
0    False  False  False     False  False  False    False    False  False
1    False  False  False     False  False  False    False    False  False
2    False  False  False     False  False  False    False    False  False
3    False  False  False     False  False  False    False    False  False
4    False  False  False     False  False  False    False    False  False
..     ...    ...    ...       ...    ...    ...      ...      ...    ...
298  False  False  False     False  False  False    False    False  False
299  False  False  False     False  False  False    False    False  False
300  False  False  False     False  False  False    False    False  False
301  False  False  False     False  False  False    False    False  False
302  False  False  False     False  False  False    False    False  False

[303 rows x 9 columns]

In [27]:
n_df.isnull().any() #por columna obtener si se tienen datos nulos

age         False
sex         False
cp          False
trestbps    False
chol        False
fbs         False
restecg     False
thalach     False
thal        False
dtype: bool

In [28]:
n_df.isnull().sum() #suma de valores nulos por columnas

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
thal        0
dtype: int64